<div class="metadata">
  <a href="@Model.EpisodeFullPath"><img src="@Href("~/Modules/Contrib.Podcasts/Content/audio_mp3_button.png")" border="0" /></a>
  <br /><strong>Size: </strong>@Model.EnclosureSize.ToString("0.0") MB
  <br /><strong>Length: </strong>@Model.EpisodeLength minutes
  <br /><strong>Recorded: </strong>@Model.RecordedDate.ToString("MMMM dd, yyyy")
</div>